body {
   font-family: 'Raleway', sans-serif;


}

img,
video {
   max-width: 100%;
   height: auto;
}

img:fullscreen,
video:fullscreen {
   object-fit: contain;
   background: #000;
}

section {
   padding: 50px 0;
}


.navbar {
   margin-bottom: 60vh;


}

.navbar-brand {
   font-weight: 700;
   text-transform: uppercase;
}

.nav-link {
   font-weight: 700;
   text-transform: uppercase;
}

.container-lg {
   padding: 20px;
}

.cancel-list {
   z-index: 1;
}

.cancel__reason {
   margin-bottom: 30vh;
}

.cancel__title {
   text-align: center;
   font-weight: 700;
   font-size: 23px;
   margin-bottom: 40px;
}

.cancel__descr {
   font-size: 18px;
   font-weight: 500;
   margin-bottom: 20px;
   text-align: center;
}

.cancel__btn-back {
   border: none;
   background-color: inherit;
}

.fa-solid,
.fa-angles-up {
   font-size: 20px;
   z-index: 9999;
}

.fa-solid::before {
   z-index: 9999;
}

.footer {
   background: linear-gradient(90deg, rgb(5, 5, 10) 0%, rgb(9, 10, 14) 8.333%, rgb(13, 14, 18) 16.667%, rgb(18, 19, 22) 25% 25%, rgb(22, 23, 26) 33.333%, rgb(26, 27, 30) 41.667%, rgb(30, 31, 34) 50%, rgb(34, 35, 38) 58.333%, rgb(38, 39, 42) 66.667%, rgb(41, 42, 45) 75%, rgb(44, 45, 48) 83.333%, rgb(46, 47, 51) 91.667%, rgb(48, 49, 53) 100%);
   text-align: center;
   color: aliceblue;
}

.footer__sign {
   color: #161616f8;
}

/* Фиксированная "рамка" для фото и видео */
.carousel-item {
   background: #000;
   /* фон под разными пропорциями */
   text-align: center;
   /* выравнивание контента */
}

/* Изображения и видео одинаково масштабируются */
.carousel-item img,
.carousel-item video {
   max-height: 60vh;
   /* адаптивная высота, можно 400–600px */
   width: auto;
   max-width: 100%;
   height: auto;
   object-fit: contain;
   margin: 0 auto;
   /* чтобы по центру */
   display: block;
   background: #000;
   transition: transform 0.3s ease, opacity 0.3s ease;
}